.events__list-item {
    margin: 1rem 0;
    margin-bottom: 0.2rem;
    padding: 1rem;
    border: 1px solid #333399;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333399;
}

.events__list-item h2 {
    margin: 0;
    font-size: 0.95rem;
    font-weight: bolder;
    color: #C50FBE;
}

.events__list-item p {
    margin: 0.32rem;
    font-size: 0.95rem;
}